body{
    margin: 0px;
    padding: 0px;
    background-color: #062342;
    text-align: center;
}

h1{
    font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}
.box{
    width: 200px;
    height: 200px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px 50px;
    margin: 30px ;
    display: inline-block;
    
}

.pressed {
    box-shadow: 0 0 100px white;
    
    background-color: grey;
  }
  
.green{
    background-color: green;
}
.red{
    background-color: red;

}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}